REACT_APP_API_URL=http://localhost:3001/api
REACT_APP_WEBSOCKET_URL=ws://localhost:3001
REACT_APP_CHAIN_ID=1337
REACT_APP_NETWORK_NAME=Localhost
REACT_APP_ENABLE_DEBUG_MODE=true
REACT_APP_ENABLE_ANALYTICS=false
REACT_APP_IPFS_GATEWAY=https://ipfs.io/ipfs/
REACT_APP_ETHERSCAN_URL=https://etherscan.io
REACT_APP_CACHE_TTL=300000
REACT_APP_WEBSOCKET_RECONNECT_ATTEMPTS=5